---
---

@import "{{ site.theme }}";

em {
    color:gray;
    font-style: normal;
    font-size: 15px;
    font-family: Noto Sans JP;
}

h2 {
    color:gray;
}

h6 {
    float: right;
}

section {
    margin-top: 0;
}

ol > li > a:visited {
    color: gray;
}

h4 {
    color: #f0e7d5;
}

h4 a {
    color: darkgoldenrod;
}
